<%# 各種リンク%>
<div class="p-4">
  <!-- パンくずリスト -->
  <div class="flex">
    <!-- トップリンク -->
    <span class="px-2"><%= link_to ">トップ", root_path, class:"blue-link"%></span>
    <!-- カテゴリーリンク -->
    <% if @content.category.present? %>
      <span class="px-2"><%= link_to ">#{@content.category.name}", category_path(@content.category), class:"blue-link"%></span>
    <% end %>
    <!-- キーワードリンク -->
    <% @content.tag_masters.each do |tag|%>
      <span class="px-2"><%= link_to ">#{tag.tag_name}", search_contents_path(tag_id: tag.id), class:"blue-link"%></span>
    <% end %>
  </div>

  <!-- 管理者用リンク -->
  <% if admin_user? %>
    <div class="flex py-4">
      <span class="px-2"><%= link_to ">>編集", edit_content_path(@content), class:"admin-link"%></span>
      <span class="px-2"><%= link_to ">>削除", content_path(@content), data: { confirm: '削除してもよろしいでしょうか？', disable_with: "送信中..."}, method: :delete, class:"admin-link" %></span>
    </div>
    <div class="py-4">
      <span class="bg-dekiru-admin border px-4 py-2 text-white max-w-mb m-2 rounded-full ">現在 <%= @content.public_status_i18n %>です</span>
    </div>
  <% end %>
</div>
