<%= form_with model: @content, local: true do |f| %>
  <div class="form-body">

    <%= render 'layouts/error_messages', model: f.object %>

    <div>
      <h2 class="form-title">タイトル</h2>
      <p><%= f.text_field :title, class: "text-field"%></p>
    </div>

    <div>
      <h2 class="form-title">サブタイトル</h2>
      <p><%= f.text_area :subtitle, class:"text-area" %></p>
    </div>

    <div>
      <h2 class="form-title">youtube_URL</h2>
      <%= f.text_field :movie_url, class: "text-field"%>
    </div>

    <div>
      <h2 class="form-title">コメント</h2>
      <p><%= f.text_area :comment, class:"text-area" %></p>
    </div>

    <div>
      <h2 class="form-title">ポイント</h2>
      <p><%= f.text_area :point, class:"text-area" %></p>
    </div>

    <!-- コンテンツタグ-->
    <div>
      <h2 class="form-title">タグ（3つまで）</h2>

      <div>
        <%= f.collection_check_boxes(:tag_master_ids, TagMaster.content, :id, :tag_name, include_hidden: true) do |tag| %>
          <%= tag.label do %>
            <div class="flex flex-wrap">
              <div class="bg-green-500 px-4 py-2 m-1 text-white">
                <span><%= tag.check_box %></span>
                <span><%= tag.object.tag_name %></span>
              </div>

            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div>
      <%= f.submit "確定する", data: { confirm: '確定します。よろしいでしょうか？'}, class:"submit-btn" %>
    </div>

  </div>
<% end %>