<%= form_with model: @content, local: true do |f| %>
  <div class="form-body">

    <%= render 'layouts/error_messages', model: f.object %>

    <div>
      <h2 class="form-title">タイトル<span class="required_content">必須</span></h2>
      <p><%= f.text_field :title, placeholder: "コンテンツ名(16文字以内)", required: true, maxlength:"16", class: "text-field"%></p>
    </div>

    <div>
      <h2 class="form-title">サブタイトル<span class="required_content">必須</span></h2>
      <p><%= f.text_area :subtitle, placeholder: "サブタイトル(32文字以内)", required: true, maxlength:"32", class:"text-area" %></p>
    </div>

    <div>
      <h2 class="form-title">youtube_URL<span class="required_content">必須</span></h2>
      <span class="supplement_comment">Youtube上にアップロードされているページのURLを貼り付けて下さい</span>
      <%= f.text_field :movie_url, placeholder: "(例) https://youtube.com/sample",required: true, class: "text-field"%>
    </div>

    <div>
      <h2 class="form-title">コメント<span class="required_content">必須</span></h2>
      <p><%= f.text_area :comment, placeholder: "コンテンツに対するコンテンツ(32文字以内)",required: true, maxlength:"32", class:"text-area" %></p>
    </div>

    <div>
      <h2 class="form-title">ポイント<span class="required_content">必須</span></h2>
      <p><%= f.text_area :point, placeholder: "コンテンツのポイント(32文字以内)",required: true, maxlength:"32", class:"text-area" %></p>
    </div>

    <!-- コンテンツキーワード-->
    <div class="max-w-4xl mx-auto">
      <h2 class="form-title">キーワード（3つまで）</h2>
      <div class="flex flex-wrap justify-start py-4 mb-8">
        <%= f.collection_check_boxes(:tag_master_ids, TagMaster.all, :id, :tag_name, include_hidden: true) do |tag| %>
            <%= tag.label do %>
              <div class="content-tag-btn">
                <span><%= tag.check_box %></span>
                <span><%= tag.object.tag_name %></span>
              </div>
            <% end %>
        <% end %>
      </div>
    </div>

    <!-- カテゴリー-->
    <div class="max-w-4xl mx-auto">
      <h2 class="form-title">カテゴリー</h2>
      <div class="flex flex-wrap justify-start py-4 mb-8">
        <span class="border-2 border-dekiru-blue px-4 py-2 shadow-sm text-left my-4">
          <%= f.collection_select(:category_id, Category.all, :id, :name, { },{ class: "focus:outline-none text-dekiru-font" }) %>
        </span>
      </div>
    </div>

    <% if controller.action_name == "edit" %>
      <!-- オススメ -->
      <div class="max-w-4xl mx-auto">
        <h2 class="form-title">オススメコンテンツ(<%= Content.recommend.count%>/<%= Settings.max_recommend_countent%>個)</h2>
        <div class="flex flex-wrap justify-start py-4 mb-8">
          <span class="border-2 border-dekiru-blue px-4 py-2 shadow-sm text-left my-4">
            <%= f.select :recommend_status, [ ["おすすめしない", "general"], ["おすすめする", "recommend"]], { prompt: "" },{ class:"focus:outline-none text-dekiru-font" } %>
          </span>
        </div>
      </div>

       <!-- ステータス -->
       <div class="mx-auto max-w-4xl">
        <h2 class="form-title">ステータス</h2>
        <div class="py-4 text-left">
          <span class="border-2 border-dekiru-blue px-4 py-2 shadow-sm text-left my-4">
            <%= f.select :public_status, [ ["非公開", "non_published"], ["公開する", "published"]], { prompt: "" },{ class:"focus:outline-none text-dekiru-font" } %>
          </span>
        </div>
      </div>
    <% end %>

    <div class="my-16">
      <%= f.submit "確定する", data: { confirm: '確定します。よろしいでしょうか？', disable_with: "送信中..."}, class:"submit-btn" %>
    </div>

  </div>
<% end %>