<%= form_with model: @content, local: true do |f| %>
  <%#= render 'layouts/error_messages', model: f.object %>
  <div>
    <h2>タイトル</h2>
    <p><%= f.text_field :title %></p>
  </div>

  <div>
    <h2>サブタイトル</h2>
    <p><%= f.text_area :subtitle %></p>
  </div>

  <div>
    <h2>youtube_URL</h2>
    <%= f.text_field :movie_url %>
  </div>

  <div>
    <h2>コメント</h2>
    <p><%= f.text_area :comment %></p>
  </div>

  <div>
    <h2>ポイント</h2>
    <p><%= f.text_area :point %></p>
  </div>

  <!-- コンテンツタグ-->
  <div>

    <h2>タグ</h2>
    <span>コンテンツタグ選択（選択式3つまで）</span>

    <div>
      <%= f.collection_check_boxes(:tag_master_ids, TagMaster.content, :id, :tag_name, include_hidden: true) do |tag| %>
        <%= tag.label do %>
          <div>
            <span><%= tag.check_box %></span>
            <p><%= tag.object.tag_name %></p>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>

  <div>
    <%= f.submit "確定する", data: { confirm: '確定します。よろしいでしょうか？'}%>
  </div>

<% end %>