<ul>  
  <li>
    <div>
      <span><%= material_counter + 1 %>.<span>
      <span><%= material.name %><span>
      <span><%= material.amount %><span>
      <span><%= material.unit %><span>
      
      <% if admin_user? %>
        <!-- 編集ボタン-->
        <%= link_to edit_material_path(material.id, params: { content_id: material.content.id }), method: :get do %>
          <i class="fas fa-pen"></i>
        <% end %>
        <!-- 削除ボタン-->
        <%= link_to material_path(material.id), data: { confirm: '削除してもよろしいでしょうか？'}, method: :delete do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      <% end %>

    </div>
  </li>
</ul>
