<div class="p-4 mb-4 mx-4 max-w-4xl mx-auto">

  <!-- 質問-->
  <div class="border bg-white rounded-lg mb-4">
    <!-- 質問ユーザー -->
    <div class="flex px-4 py-8">
      <%= image_tag question.user.thumbnail.thumb27.url, class:"rounded-full border border-gray-300"%>
      <span class="ml-4"><%= question.user.name %></span>
    </div>

    <!-- 質問内容 -->
    <div class="text-left px-4 py-8">
      <%= question.question_content %>
    </div>

    <!-- 質問CRUD -->
    <%# TODO: リファクタリングする %>
    <% if question.user == current_user || admin_user? %>
      <% if question.response.nil? %>
      <div class="text-left p-4">
        <%= link_to ">>削除", question_path(question), data: { confirm: '確定します。よろしいでしょうか？', disable_with: "送信中..."}, method: :delete, class:"red-link" %>
      </div>
      <% end %>
    <% end %>
  </div>


  <!--返信-->
  <% if question.response.present?%>
  <%# 返信がある場合、返信を表示する%>

  <div id="accordion" class="bg-white border border-gray-300 ">
    <h4 class="accordion-title js-accordion-title bg-gray-100">返信をみる</h4>
    <div class="hidden">
      <div class="border bg-white">

        <!-- DEKRIU情報 -->
        <div class="flex justify-end px-4 py-8">
          <span class="mr-4">deKiRU</span><!-- TODO: 少し変かもしれない。全て大文字にするか相談する -->
          <%= image_tag @admin.thumbnail.thumb27.url ,class:"rounded-full border border-gray-300"%>
        </div>

        <!-- 返信内容 -->
        <div class="text-right px-4 py-8">
          <%= question.response.response_content %>
        </div>

        <!-- 返信CRUD -->
        <% if admin_user? %>
          <div class="flex justify-end p-4">
            <div class="px-4 mr-1 text-right"><%= link_to ">>編集", edit_response_path(question.response, question_id: question.id), class:"admin-link" %></div>
            <div><%= link_to ">>削除", response_path(question.response), data: { confirm: '確定します。よろしいでしょうか？, disable_with: "送信中..."'}, method: :delete, class:"admin-link" %></div>
          </div>
        <% end %>
 
      </div>
    </div>
  </div>

  <% else %>
  <%# 返信がない場合、返信を作成するリンクを表示%>

    <!-- 返信リンク -->
    <% if admin_user? && question.response.nil? %>
      <div class="border bg-dekiru-base rounded-lg">
        <div><%= link_to ">>返信する", new_response_path(question_id: question.id), class:"admin-link" %></div>
      </div>
    <% end %>

  <% end %>

</div>