<div class="mx-4 md:mx-20 xl:mx-16">
  <div class="text-left py-2">
    <%= link_to ">TOPページ", root_path, class:"blue-link"%>
  </div>

  <% if admin_user? %>
    <div class="text-left py-2">
      <%= link_to ">管理者ページへ戻る", admin_page_path, class:"admin-link" %>
    </div>
  <% end %>

</div>


<h1 class="py-8">コンテンツ一覧</h1>

<!-- content_card -->
<div class="content-style">
  <%= render partial: "layouts/content_card", collection: @contents, as: "content" %>
</div>

<!-- ページネーション  -->
<%= paginate @contents, window: 1 %>
<div class="py-4">
  <%= page_entries_info(@contents)%>
</div>
