<div class="link_style">
  <%= link_to ">TOPページ", root_path, class:"blue-link"%>
</div>

<h1 class="h1">コンテンツ一覧</h1>

<div class="mt-4 mb-16">
  
  <!-- ワード検索の場合 -->
  <% if params[:q].present? && @search_word.present? %>
    <p class="p-4">「 <%= @search_word %> 」の検索結果</p>
  <% end %>
  
  <!-- キーワード検索の場合 -->
  <% if params[:tag_id].present? && @search_word.present? %>
    <div>
      <div class="text-dekiru-font text-sm">キーワード</div>
      <div class="text-dekiru-font">「 <%= @search_word %> 」</div>
    </div>
  <% end %>
  
  <!-- content_card -->
  <% if @contents.exists? %>
    <div class="content-style">
      <%= render partial: "layouts/content_card", collection: @contents, as: "content" %>
    </div>
  <% else %>
    <p>検索結果はありません</p>
  <% end %>
  
  <!-- ページネーション  -->
  <%= paginate @contents, window: 1 %>
  <div class="py-4">
    <%= page_entries_info(@contents)%>
  </div>

</div>