<!-- リンク -->
<div class="link_style">
  <span class="p-2"><%= link_to ">>TOPページ", root_path, class:"blue-link"%></span>
</div>

<div class="md:flex">

  <!-- main_content -->
  <div class="md:w-3/4">
    <!-- タイトル -->
    <%= render "search_title"%>
    <!-- カード-->
    <% if @contents.exists? %>
      <div class="content-style">
        <%= render partial: "layouts/content_card", collection: @contents, as: "content" %>
      </div>
    <% else %>
      <div class="mb-16">
        <p>検索結果はありません</p>
        <p class="p-4"><%= link_to "> リクエストはこちら！", new_contact_path, class:"text-dekiru-blue font-black hover:text-dekiru-light_blue"%></p>
      </div>
    <% end %>
  </div>

  <!-- side_content -->
  <div class="md:w-1/4 md:ml-12">
    <%= render "layouts/sidebar", locals: @content_tags%>
  </div>

</div>

  <!-- ページネーション  -->
  <%= paginate @contents, window: 1 %>
  <div class="py-4">
    <%= page_entries_info(@contents)%>
  </div>

