<%= link_to "戻る", contents_path %>

<% if admin_user? %>
  <%= link_to "編集", edit_content_path %>
  <%# TODO: アラートにデザインを当てる %>
  <%= link_to "削除", content_path(@content), data: { confirm: '削除してもよろしいでしょうか？'}, method: :delete %>
<% end %>

<!-- movie -->
<div>
  <%= embed_youtube(@content.movie_url) %>
</div>

<!-- 説明 -->
<p>タイトル:<%= @content.title %></p>
<p>サブタイトル:<%= @content. subtitle %></p>
<p>コメント:<%= @content.comment %></p>


<!-- お気に入り -->
<%#= render partial: "favorite_card", collection: @makes, as: "make" %>

<div if="content-<%= @content.id %>">

  <%# TODO: 条件分岐をリファクタリングすること%>
  <% if user_signed_in? %>
    <% if @content.favorited_by?(current_user) %>
      <%# お気に入りから外す %>
      <%= link_to "⭐️", content_favorites_path(@content), method: :delete, remote: true %>
    <% else %>
      <%# お気に入りに追加 %>
      <%= link_to "☆", content_favorites_path(@content), method: :post, remote: true %>
    <% end %>
  <% end %>
</div>
<p>LGTM:<%= @content.favorites.count %></p>

<!-- 材料 -->
<h2>材料</h2>
<% if admin_user? %>
  <%= link_to "追加", new_material_path(params: { content_id: @content.id }) %>
<% end %>
<!-- 材料一覧 -->
<%= render partial: "material_card", collection: @materials, as: "material" %>

<!-- 作り方 -->
<h2>作り方</h2>
<% if admin_user? %>
  <%= link_to "追加", new_make_path(params: { content_id: @content.id }) %>
<% end %>
<!-- 作り方一覧 -->
<%= render partial: "make_card", collection: @makes, as: "make" %>

<br/>

<!-- ポイント -->
<h2>ポイント</h2>
<p>コメント:<%= @content.point %></p>

<br/>


<!-- review -->
<h2>レビュー</h2>
<% if user_signed_in? %>
  <%# TODO: 管理者ユーザーはレビューを登録できない様にするか検討 %>
  <%= link_to "レビューする >>", new_review_path(params: { content_id: @content.id }) %>
<% end %>

<!-- レビュー一覧-->
<%= render partial: "review_card", collection: @reviews, as: "review" %>

<br/>

<!-- 質問 -->
<h2>質問する</h2>

<!-- 質問フォーム -->
<%= render "question_form" %>

<!-- 質問と返信 -->
<%# TODO: jqueryでアコーディオンを検討(長くなるので) %>