<%# 各種リンク%>
<%= render "content_top_links", locals: @content %>

<!-- コンテンツ -->
<div class="mb-8 border bg-dekiru-base">

  <!-- movie -->
  <div class="movie">
    <div class="movie__inner">
      <%= embed_youtube(@content.movie_url) %>
    </div>
  </div>

  <!-- お気に入り -->
  <div class="pb-4">
    <% if general_user? %>
      <%= render "favorite_button", locals: @content %>
    <% end %>
  </div>

  <!-- 説明 -->
  <div>
    <p class="text-2xl py-4 font-medium"><%= @content.title %></p>
    <p class="text-sm p-8"><%= @content. subtitle %></p>
    <p class="text-md p-8"><%= @content.comment %></p>
  </div>
</div>

<!-- キーワード -->
<% if @content.tag_masters.present? %>
  <div class="p-4 mb-8">
    <h2 class="mb-4">キーワード</h2>
    <div class="p-4">
      <span class="content-category-style">
        <%= @content.category.name %>
      </span>
      <% @content.tag_masters.each do |tag| %>
        <span class="content-tag-style">
          <%= tag.tag_name %>
        </span>
      <% end %>
    </div>
  </div>
<% end %>


<!-- 材料 -->
<div class="mb-8 border bg-dekiru-base">
  <h2 class="m-4">材料</h2>
  <!-- 新規作成 -->
  <% if admin_user? %>
    <%= link_to ">>追加", new_material_path(params: { content_id: @content.id }), class:"admin-link"%>
  <% end %>
  <!-- 材料一覧 -->
  <div class="py-4 px-8 text-left text-lg">
    <%= render partial: "material_card", collection: @materials, as: "material" %>
  </div>
</div>

<!-- 手順・作り方 -->
<div class="mb-8 border bg-dekiru-base">
  <h2 class="m-4">手順・作り方</h2>
  <% if admin_user? %>
    <%= link_to ">>追加", new_make_path(params: { content_id: @content.id }), class:"admin-link" %>
  <% end %>
  <!-- 作り方一覧 -->
  <div class="py-4 px-8 text-left text-lg">
    <%= render partial: "make_card", collection: @makes, as: "make" %>
  </div>
</div>

<!-- ポイント -->
<div class="mb-8 pb-8 border bg-dekiru-base">
  <h2 class="py-8">ポイント</h2>
  <p class="p-8"><%= @content.point %></p>
</div>

<!-- review -->
<div class="mb-8 p-4 border bg-dekiru-base">
  <div class="mb-4">
    <h2 class="pt-8 pm-4">レビュー</h2>
    <% if general_user? %>
      <div class="px-4 py-2 text-right">
        <%= link_to ">>レビューする", new_review_path(params: { content_id: @content.id }), class:"blue-link" %>
      </div>
    <% end %>

    <!-- レビューカード -->
    <div class="md:flex justify-start flex-wrap bg-white bg-dekiru-base">
      <%= render partial: "review_card", collection: @reviews, as: "review" %>
    </div>
  </div>
</div>


<!-- 質問と返信 -->
<div class="py-4 my-4 bg-dekiru-base border">
  <% if @content.questions.present?%>

    <!-- 質問フォーム -->
    <h2 class="mt-8 mb-4">質問</h2>
    <%= render partial: "question_and_response", collection: @questions, as: "question" %>

  <% end %>

  <!-- 質問 -->
  <h2 class="py-4">質問する</h2>
  <!-- 質問フォーム -->
    <% if user_signed_in? %>
      <% if current_user.general? %>
        <%= render "question_form" %>
      <% else %>
        <p>管理者は質問できません。</p>
      <% end %>
    <% else %>
      <p>ログインすると、質問ができます</p>
    <% end %>
  </div>
</div>
  

<!--  TOPページボタン -->
<%= render "layouts/page_top" %>
