<%= form_with model: @make, local: true do |f| %>
  <div class="form-body">
  
    <%= render 'layouts/error_messages', model: f.object %>
  
    <%= f.hidden_field :content_id, value: @content_id %>
    
    <div>
      <h2 class="form-title">作り方<span class="required_content">必須</span></h2>
      <p><%= f.text_area :detail, placeholder: "作り方(32文字以内)",required: true, class:"text-area" %></p>
    </div>
    
    <div>
      <%= f.submit "確定する", data: { confirm: '確定します。よろしいでしょうか？'}, class:"submit-btn" %>
    </div>
    
    </div>
  
<% end %>
