<%= link_to ">TOPページ", root_path, class:"blue-link text-left block my-4"%>

<h1 class="mt-16 mb-8">ログイン</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="form-body py-16 px-8 border shadow-lg mb-24 bg-dekiru-base">
  
  <div class="field">
    <h2 class="form-title">メールアドレス<span class="required_content">必須</span></h2>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",required: true, class:"text-field" %>
  </div>

  <div class="field">
    <h2 class="form-title">パスワード<span class="required_content">必須</span></h2>
    <%= f.password_field :password, autocomplete: "current-password",required: true, class:"text-field" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field my-8 mb-4">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div>
    <!-- ログイン-->
    <span class="block m-auto max-w-sm">
      <%= f.submit "ログイン", class:"submit-btn w-2/3  block m-auto" %>
    </span>

    <!-- 新規作成 -->
    <span class="block m-auto max-w-sm">
      <%= render "users/shared/links" %>
    </span>

    <!-- ゲストログイン(後日削除予定)-->
    <span class="block m-auto max-w-sm">
      <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post, class: "blue-btn w-2/3  block m-auto"%>
    </span>
  </div>


</div>
<% end %>


