<div class="text-center pt-16 pb-32">
  <!-- タイトル-->
  <h1 class="py-8">MyPage</h1>

  <!-- 写真 + 名前 -->
  <div class="py-8">
    <!-- 写真-->
      <div class="image-style m-auto">
      <%= image_tag @user.thumbnail.url ,class:"w-full rounded-full border-4 border-dekiru-blue"%>
    </div>
    <!-- 名前-->
    <p class="text-lg"><%= @user.name %></p>
  </div>

<div>
  <!-- お気に入り一覧-->
  <span class="block m-auto max-w-sm">
    <%= link_to "お気に入り一覧", favorite_contents_path, class:"blue-btn w-2/3 block m-auto" %>
  </span>

  <!-- アカウント編集-->
  <span class="block w-full m-auto max-w-sm">
    <%= link_to "アカウント編集", edit_user_registration_path(current_user), class:"blue-btn w-2/3 m-auto block"%>
  </span>

  <!-- ログアウト-->
  <span class="block w-full m-auto max-w-sm">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？", disable_with: "送信中..." }, class: "red-btn w-2/3  block m-auto"%>
</span>

</div>

  <!-- 管理者専用-->

    <!-- 管理者画面へ-->
  <% if admin_user? %>
    <span class="block w-full m-auto max-w-sm">
      <%= link_to "管理者画面へ", admin_page_path, class: "admin-btn w-2/3  block m-auto"%>
    </span>
  <% end %>

</div>
