<div class="text-center pt-16 pb-32">
  <!-- タイトル-->
  <h1 class="py-8">MyPage</h1>

  <!-- 写真 + 名前 -->
  <div class="py-8">
    <!-- 写真-->
      <div class="image-style m-auto">
      <%= image_tag @user.thumbnail.url ,class:"w-full rounded-full border-4 border-dekiru-blue"%>
    </div>
    <!-- 名前-->
    <p class="text-lg"><%= @user.name %></p>
  </div>

  <!-- お気に入り一覧-->
  <div class="my-8">
    <%= link_to "お気に入り一覧", favorite_contents_path, class:"blue-btn" %>
  </div>

  <!-- アカウント編集-->
  <div class="my-8">
    <%= link_to "アカウント編集", edit_user_registration_path(current_user), class:"blue-btn"%>
  </div>


  <!-- ログアウト-->
  <div class="my-8 m-auto">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？", disable_with: "送信中..." }, class: "red-btn"%>
  </div>

  <!-- 管理者専用-->
  <% if admin_user? %>
    <div class="text-left p-8">
      <h2 class="text-pink-500">管理者専用</h2>
      


      <!-- コンテンツ -->
      <div class="my-8">
        <h2>1.コンテンツ作成</h2>
        <!-- 新規作成リンク(管理者のみ) -->
        <div><%= link_to ">>新規作成",new_content_path, class:"admin-link" %></div>
      </div>

      <!-- カテゴリー -->
      <div class="my-8">

      <h2>2.カテゴリー作成</h2>
      <div>
        <%= link_to ">>追加", new_category_path, class:"admin-link" %>
      </div>
      </div>



      <!-- タグ -->
      <div class="my-8">
        <h2>3.タグ一覧</h2>
        <div class="my-4">
          <%= link_to ">>追加", new_tag_master_path, class:"admin-link" %>
          <%= render partial: "layouts/content_tag", collection: @content_tags, as: "tag" %>
        </div>
      </div>



    </div>


  <% end %>

  </div>
