<div class="text-center pt-16 pb-32">
  <!-- タイトル-->
  <h2 class="h2 py-8">MyPage</h2>

  <!-- 写真 + 名前 -->
  <div class="py-8">
    <!-- 写真-->
      <div class="image-style m-auto">
      <%= image_tag @user.thumbnail.url ,class:"w-full rounded-full border-4 border-dekiru-blue"%>
    </div>
    <!-- 名前-->
    <p class="text-lg"><%= @user.name %></p>
  </div>

  <!-- お気に入り一覧-->
  <div class="my-8 text-center">
    <%= link_to favorite_contents_path, class:"blue-link border border-blue-500 w-40 py-2 px-4 hover:bg-dekiru-blue hover:text-white" do %>
      <button class="w-32">お気に入り一覧</button>
    <% end %>
  </div>

  <!-- アカウント編集-->
  <div class="my-8 text-center">
    <%= link_to edit_user_registration_path(current_user), class:"blue-link border border-blue-500  py-2 px-4 hover:bg-dekiru-blue hover:text-white" do %>
      <button class="w-32">アカウント編集</button>
    <% end %>
  </div>

  <!-- ログアウト-->
  <div class="my-8 text-center">
    <%= link_to destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？", disable_with: "送信中..." }, class: "red-link w-40 border border-red-500 py-2 px-4 w-32 hover:bg-red-500 hover:text-white" do%>
      <button class="w-32">ログアウト</button>
    <% end %>
  </div>

  <!-- 管理者専用-->
  <% if admin_user? %>
    <div class="text-left p-8">
      <h2 class="text-pink-500">管理者専用</h2>
      
      <h2 class="h2 py-8">1.タグ一覧</h2>
      <div>
        <%= link_to ">>追加", new_tag_master_path, class:"admin-link" %>
        <%= render partial: "layouts/content_tag", collection: @content_tags, as: "tag" %>
      </div>

      <h2 class="h2 py-8">2.カテゴリー作成</h2>
      <div>
        <%= link_to ">>追加", new_category_path, class:"admin-link" %>
      </div>

      <div>
        <h2 class="h2 py-8">3.コンテンツ作成</h2>
        <!-- 新規作成リンク(管理者のみ) -->
        <div><%= link_to ">>新規作成",new_content_path, class:"admin-link" %></div>
      </div>

    </div>
  <% end %>

  </div>
