<div>
<p>以下の内容で送信します。よろしいでしょうか？</p>
  <div>
    <span><%= form.label :title %></span>
    <%= form.text_field :title, readonly: true %>
    <%= form.hidden_field :title %>
  </div>
  <div>
    <span><%= form.label :content %></span>
    <%= form.text_area :content, readonly: true %>
    <%= form.hidden_field :content %>
  </div>
</div>