<!-- 返信フォーム -->
<%= form_with model: @response, local: true do |f| %>
  <div class="form-body">
    <%= render 'layouts/error_messages', model: f.object %>
    <%= f.hidden_field :question_id, value: @question_id %>
  
    <div>
      <h2 class="form-title">返信内容</h2>
      <p><%= f.text_area :response_content, class:"text-area" %></p>
    </div>
  
    <div>
      <%= f.submit "確定する", data: { confirm: '確定します。よろしいでしょうか？'}, class:"submit-btn" %>
    </div>
  </div>

<% end %>

<!-- 質問内容 -->
<div class="bg-dekiru-light_blue">
  <h2 class="h2 py-8">質問内容</h2>
  <div>
    <%= Question.find_by(@question).question_content %>
  </div>
</div>
