<!-- トップ画像 -->
<div class="mt-8 mb-16">
    <%# TODO: 文字を重ねたい%>
    <div class="text-5xl py-4">dekiru</div>
    <%= image_tag "background-sample.png"%>
</div>

<!--  人気情報 -->
<div class="border p-4 my-8 bg-gray-100">
  <div class="flex justify-center">
    <div>
      <h2>人気情報</h2>
      <%= link_to ">>全て見る", popular_contents_path, class:"blue-link" %>
    </div>
  </div>
  
  <div class="md:flex justify-center">
    <%= render partial: "layouts/content_card", collection: @popularity_contents, as: "content" %>
  </div>
</div>

<!--  おすすめ情報 -->
<div class="border p-4 my-8 bg-gray-100">
    <div class="flex justify-center">
      <div>
        <h2>おすすめ情報</h2>
        <%= link_to ">>全て見る", recommend_contents_path, class:"blue-link" %>
      </div>
    </div>
  <div class="md:flex justify-center">
    <%= render partial: "layouts/content_card", collection: @recommend_contents, as: "content" %>
  </div>
</div>

<!--  新着情報 -->
<div class="border p-4 my-8 bg-gray-100">
  <div class="flex justify-center">
    <div>
      <h2>新着情報</h2>
      <%= link_to ">>全て見る", newest_contents_path, class:"blue-link" %>
    </div>
  </div>
  <div class="md:flex justify-center">
    <%= render partial: "layouts/content_card", collection: @new_contents, as: "content" %>
  </div>
</div>

<div class="border p-4 my-8 bg-gray-100">
  <div class="flex justify-center">
    <div>
      <h2>カテゴリー一覧</h2>
      <%= link_to ">>全て見る", categories_path, class:"blue-link" %>
    </div>
  </div>
    <!-- 横にして！-->
   <div class="md:flex  justify-center">
    <%= render partial: "layouts/category_contents_card", collection: @categories, as: "category" %>
  </div>
</div>

<br/>

<div class="border p-4 mb-8 bg-gray-100">
  <h2>キーワード</h2>
  <%#= link_to ">>全て見る", root_path %><%# TODO: 数が多くなった場合実装する%>
  <div class="flex justify-start flex-wrap my-2"> 
    <%= render partial: "layouts/content_tag", collection: @content_tags, as: "tag" %>
  </div>

</div>