<div class="bg-dekiru-light_blue p-4">
  <h1 class="text-blue-500 text-lg">DEKIRUのトップ画像が来る</h1>
  <div>
    <%= image_tag youtube_thumbnail(Content.first.movie_id) %>
  </div>
</div>

<br/>

<div class="bg-dekiru-light_blue p-4">
  <div class="flex justify-center">
    <div>
      <h2 class="h2">人気情報</h2>
      <%= link_to ">>全て見る", popular_contents_path, class:"blue-link" %>
    </div>
  </div>
  
  <div class="md:flex justify-center">
    <%= render partial: "layouts/content_card", collection: @popularity_contents, as: "content" %>
  </div>
</div>

<br/>

<div class="bg-dekiru-light_blue p-4">
    <div class="flex justify-center">
      <div>
        <h2 class="h2">おすすめ情報</h2>
        <%= link_to ">>全て見る", recommend_contents_path, class:"blue-link" %>
      </div>
    </div>
  <div class="md:flex justify-center">
    <%= render partial: "layouts/content_card", collection: @recommend_contents, as: "content" %>
  </div>
</div>

<br/>

<div class="bg-dekiru-light_blue p-4">
  <div class="flex justify-center">
    <div>
      <h2 class="h2">新着情報</h2>
      <%= link_to ">>全て見る", newest_contents_path, class:"blue-link" %>
    </div>
  </div>
  <div class="md:flex justify-center">
    <%= render partial: "layouts/content_card", collection: @new_contents, as: "content" %>
  </div>
</div>

<br/>

<div class="bg-dekiru-light_blue p-4">
  <div class="flex justify-center">
    <div>
      <h2 class="h2">カテゴリー一覧</h2>
      <%= link_to ">>全て見る", categories_path, class:"blue-link" %>
    </div>
  </div>
    <!-- 横にして！-->
   <div class="md:flex justify-center">
    <%= render partial: "layouts/category_contents_card", collection: @categories, as: "category" %>
  </div>
</div>

<br/>

<div class="bg-dekiru-light_blue p-4 mb-4">
  <h2 class="h2">キーワード</h2>
  <%#= link_to ">>全て見る", root_path %><%# TODO: 数が多くなった場合実装する%>
  <div class="flex justify-start flex-wrap my-2"> 
    <%= render partial: "layouts/content_tag", collection: @content_tags, as: "tag" %>
  </div>

</div>