<div>
  <h1>DEKIRU</h1>
  <p>写真</p>
</div>

<br/>

<div>
  <p>人気情報</p>
  <%= link_to ">>全て見る", popular_contents_path %>
  <%= render partial: "layouts/content_card", collection: @popularity_contents, as: "content" %>
</div>

<br/>

<div>
  <p>おすすめ情報</p>
  <%= link_to ">>全て見る", recommend_contents_path %>
  <%= render partial: "layouts/content_card", collection: @recommend_contents, as: "content" %>
</div>

<br/>

<div>
  <p>新着情報</p>
  <%= link_to ">>全て見る", newest_contents_path %>
  <%= render partial: "layouts/content_card", collection: @new_contents, as: "content" %>
</div>

<br/>

<div>
  <p>カテゴリー一覧</p>
  <%= link_to ">>全て見る", categories_path %>
  <%= render partial: "layouts/category_contents_card", collection: @categories, as: "category" %>
</div>

<br/>

<div>
  <p>キーワード検索</p>
  <%= link_to ">>全て見る", root_path %>
  <%= render partial: "layouts/content_tag", collection: @content_tags, as: "tag" %>
</div>