<!-- トップ画像 -->
<div class="mb-16">
  <div class="max-w-6xl mx-auto">
    <%= image_tag "dekiru-top-image.png"%>
  </div>
</div>

<!--  人気情報 -->
<div class="top-container">
  <div class="md:flex md:border-l-4 px-2 mx-4 border-dekiru-blue">
    <h2 class="top-content-title">人気情報</h2>
    <p class="top-link"><%= link_to ">>全て見る", popular_contents_path, class:"blue-link " %></p>
  </div>
  
  <div class="m-4 bg-dekiru-base rounded">
    <div class="md:flex justify-center py-8 mb:py-16 ">
      <%= render partial: "layouts/top_page_content_card", collection: @popularity_contents, as: "content" %>
    </div>
  </div>
</div>


<!--  おすすめ情報 -->
<div class="top-container">
  <div class="md:flex md:border-l-4 px-2 mx-4 border-dekiru-blue">
    <h2 class="top-content-title">おすすめ情報</h2>
    <p class="top-link"><%= link_to ">>全て見る", recommend_contents_path, class:"blue-link" %></p>
  </div>

  <div class="m-4 bg-dekiru-base rounded">
    <div class="md:flex justify-center py-8 mb:py-16">
      <%= render partial: "layouts/top_page_content_card", collection: @recommend_contents, as: "content" %>
    </div>
  </div>
</div>

<!--  新着情報 -->
<div class="top-container">
  <div class="md:flex md:border-l-4 px-2 mx-4 border-dekiru-blue">
    <h2 class="top-content-title">新着情報</h2>
    <p class="top-link"><%= link_to ">>全て見る", newest_contents_path, class:"blue-link" %></p>
  </div>

  <div class="md:flex justify-center py-8 mb:py-16">
    <%= render partial: "layouts/top_page_content_card", collection: @new_contents, as: "content" %>
  </div>
</div>

<!--  カテゴリー -->
<div class="my-8 max-w-6xl mx-auto bg-dekiru-base rounded p-4">
  <div class="md:flex md:border-l-4 px-2 mx-4 border-dekiru-blue">
    <h2 class="top-content-title">カテゴリー一覧</h2>
    <p class="top-link"><%= link_to ">>全て見る", categories_path, class:"blue-link" %></p>
  </div>
   <div class="py-8 mb:py-16">
    <%= render partial: "layouts/category_contents_card", collection: @categories, as: "category" %>
  </div>
</div>

<!--  キーワード -->
<div class="top-container">
  <div class="md:flex md:border-l-4 px-2 mx-4 border-dekiru-blue">
    <h2 class="top-content-title">キーワード</h2>
    <p class="top-link"><%#= link_to ">>全て見る", categories_path, class:"blue-link" %></p><%# TODO: 数が多くなった場合実装する%>
  </div>

  <div class="flex justify-center md:justify-start flex-wrap my-1 max-w-6xl px-4"> 
    <%= render partial: "layouts/content_tag", collection: @content_tags, as: "tag" %>
  </div>

  <!--  TOPページボタン -->
  <p id="page-top">
    <a href="#wrap" class="text-dekiru-blue  no-underline py-4 mx-auto">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13a1 1 0 102 0V9.414l1.293 1.293a1 1 0 001.414-1.414z" clip-rule="evenodd" />
      </svg>
    </a>
  </p>

</div>