<h1>レビュー登録</h1>

<%= form_with model: @review, local: true do |f| %>
  <div class="form-body">

    <%= render 'layouts/error_messages', model: f.object %>
  
    <%= f.hidden_field :content_id, value: @content_id %>
  
    <div>
      <h2 class="form-title">写真</h2>
      <%= f.file_field :image, accept: "image/png,image/jpeg" %>
    </div>
  
  
    <div>
      <h2 class="form-title">レビュー</h2>
      <p><%= f.text_area :comment, class:"text-area" %></p>
    </div>
    
    <div>
      <%= f.submit "確定する", data: { confirm: '確定します。よろしいでしょうか？'}, class:"submit-btn" %>
    </div>
  
  </div>
<% end %>
