<div class="link_style">
  <%= link_to ">コンテンツ詳細へ戻る", content_show_path(@content_id), class:"blue-link"%>
</div>

<div class=" my-20">
  <h1 class="mt-8">レビュー登録</h1>
  
  <%= form_with model: @review, local: true do |f| %>
    <div class="form-body pb-16">
      <%= render 'layouts/error_messages', model: f.object %>
    
      <%= f.hidden_field :content_id, value: @content_id %>
    
        <div class="field pb-4">
          <h2 class="form-title">写真<span class="required_content">必須</span></h2>
          <div class="max-w-4xl mx-auto">
            <%#= image_tag @user.thumbnail.url, id: :img_prev ,class:"my-4 border-4 border-gray-300"%>
            <label class="file_field" for="review_image">選択する</label>
            <%= f.file_field :image, id: "review_image", accept: "image/png,image/jpeg", class: "hidden" %>
          </div>
        </div>
  
      <div>
        <div class="form-title">レビュー<span class="required_content">必須</span></div>
        <%= f.text_area :comment, placeholder: "レビュー内容(100文字以内)",required: true, maxlength: "100", class:"text-area", id: "textarea" %>
        <div class="text-right max-w-4xl mx-auto">
          <span id="message" class="p-4 block"></span>
        </div>
      </div>
  
      <div class="mt-8">
        <%= f.submit "確定する", data: { confirm: '確定します。よろしいでしょうか？', disable_with: "送信中..."}, class:"submit-btn" %>
      </div>
  
    </div>
  <% end %>

</div>
