<footer class="bg-dekiru-light_blue">

  <div class="mx-4 md:mx-20 xl:mx-80">

    <!-- ロゴ -->
    <%= link_to root_path do %>
      <span>
        <%= image_tag "deKiRU-logo.png" %>
      </span>
    <% end %>

    <div>
      <%= link_to "トップ", root_path %>
      <%= link_to "カテゴリー一覧", root_path %>
      <% if user_signed_in? %>
        <%= link_to "マイページ", mypage_path(current_user) %>
        <%= link_to "お問い合わせ", contacts_path %>
      <% end %>

    </div>

  </div>

</footer>
