<footer class="bg-dekiru-light_blue py-8 text-center">

  <div class="p-4 md:flex md:mx-20 xl:mx-60">

    <!-- ロゴ -->
    <div class="p-4 mx-auto max-w-xs md:w-1/2 md:ml-0">
      <%= image_tag "deKiRU-logo.png",size: "150×50", class:"w-full"%>
    </div>

    <!-- 各種リンク -->
    <ul class="p-4 text-dekiru-font md:w-1/2 md:text-right">
      <li class="mb-8 md:mb-4"><%= link_to "トップ", root_path, class:"hover:text-dekiru-blue" %></li>
      <li class="mb-8 md:mb-4"><%= link_to "カテゴリー一覧", categories_path, class:"hover:text-dekiru-blue" %></li>
      <li class="mb-8 md:mb-4"><%= link_to "お問い合わせ", new_contact_path, class:"hover:text-dekiru-blue" %></li>
      <% if user_signed_in? %>
        <li class="mb-8 md:mb-4"><%= link_to "マイページ", mypage_path(current_user), class:"hover:text-dekiru-blue" %></li>
      <% end %>
    </ul>
  </div>

  <div class="py-4">
    ©2021 deKiru
  </div>

</footer>
