<footer class="h-auto border bg-dekiru-base py-8 text-center">

  <div class="mx-4 md:flex md:mx-20 xl:mx-80">

    <!-- ロゴ -->
    <div class=" md:w-1/2">
      <span class="bg-blue-400">
        <%= link_to root_path do %>      
          <%= image_tag "deKiRU-logo.png", size: "150x50" %>
        <% end %>
      </span>
    </div>

    <!-- 各種リンク -->
    <ul class="md:text-right text-dekiru-font md:w-1/2">
      <li class="mb-8 md:mb-4"><%= link_to "トップ", root_path %></li>
      <li class="mb-8 md:mb-4"><%= link_to "カテゴリー一覧", categories_path %></li>
      <% if user_signed_in? %>
        <li class="mb-8 md:mb-4"><%= link_to "マイページ", mypage_path(current_user) %></li>
        <li class="mb-8 md:mb-4"><%= link_to "お問い合わせ", contacts_path %></li>
      <% end %>
    </ul>
  </div>

</footer>
