<header>

  <!-- ロゴ -->
  <%= link_to root_path do %>
    <span>
      <%= image_tag "deKiRU-logo.png" %>
    </span>
  <% end %>
  <!-- 検索フォーム -->
  <%= render partial: 'layouts/search_form'%>

  <% if user_signed_in? %>
    <%# ログイン時 %>
    <!-- テスト用(ログアウトは後日削除) -->
    <span><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" } %></span>
    <span><%= link_to "マイページ", mypage_path(current_user) %></span>
  <% else %>
    <%# 非ログイン時 %>
    <span><%= link_to "ログイン", new_user_session_path %></span>
  <% end %>

</header>

<hr>
