<!DOCTYPE html>
<html>
  <head>
    <title>deKiRU</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/flash" %>
    <div class="text-center mx-4 xl:mx-48">
      <%= yield %>
    </div>
    <%= render "layouts/footer"%>
  </body>
</html>
