<%# TODO: ルーディングを調整すること%>

<h2 class="h2 pt-8 pb-4">アカウント編集</h2>
<%= link_to ">>マイページへ戻る", mypage_path(current_user), class:"blue-link"%>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="form-body">

    <%= render "users/shared/error_messages", resource: resource %>
    
    <div class="field">
      <div class="form-title">ユーザー名<span class="required_content">必須</span></div>
      <%= f.text_field :name, placeholder: "名前入力(16文字以内)", class: "text-field"%>
    </div>
  
    <div class="field">
      <div class="form-title">メールアドレス<span class="required_content">必須</span></div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "例：sample@gmail.com", class: "text-field" %>
    </div>
  
  
    <div class="field">
      <%= f.label :thumbnail, class: "form-title" %>
      <%= f.file_field :thumbnail, accept: "image/png,image/jpeg", class: "text-field" %>
    </div>
  
  
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  
    <div class="field">
      <%= f.label "新しいパスワード【変更する場合は入力】",class: "form-title" %>
      <%#= f.label :password %><!-- <br /> -->
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "例：pass2021", class: "text-field" %>
      <span>(８文字以上１６文字以内、有効な記号　- _ @)</span>
    </div>
  
    <div class="field">
      <%= f.label "新しいパスワード(確認用)【変更する場合は入力】",class: "form-title" %>
      <%#= f.label :password_confirmation %><!-- <br /> -->
      <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "例：pass2021", class: "text-field" %>
    </div>
  
    <div class="field">
      <%#= f.label :current_password %><!-- <br /> -->
      <%# TODO: 必須のマークを変更したい %>
      <div class="form-title">現在のパスワード<span class="required_content">必須</span></div>
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "現在のパスワード", class: "text-field" %>
    </div>
  
    <div class="actions">
      <%= f.submit "確定する", class:"submit-btn" %>
      <%#= f.submit "Update" %>
    </div>

  </div>
<% end %>

<%# アカウント削除ボタンを導入する場合は以下をコメントアウト %>
<%#= button_to "このアカウント削除", registration_path(resource_name), data: { confirm: "アカウントを削除しますか？" }, method: :delete %>
<%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

