<h2 class="h2 py-8">アカウント新規作成</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="form-body">
    <%= render "users/shared/error_messages", resource: resource %>
  
    <div class="field">
      <div class="form-title">ユーザー名<span class="required_content">必須</span></div>
      <%= f.text_field :name, placeholder: "名前入力(16文字以内)", required: true, class: "text-field"%>
    </div>
  
    <div class="field">
      <div class="form-title">メールアドレス<span class="required_content">必須</span></div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "例：sample@gmail.com", required: true, class: "text-field" %>
    </div>
  
    <div class="field">
      <div class="form-title">パスワード(8文字以上)<span class="required_content">必須</span></div>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "例：pass2021", required: true, class: "text-field" %>
      <span class="supplement_comment">(８文字以上１６文字以内、有効な記号　- _ @)</span>
    </div>

    <div class="field">
    <div class="form-title">確認用パスワード(8文字以上)<span class="required_content">必須</span></div>
      <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "例：pass2021", required: true, class: "text-field" %>
    </div>
  
    <div class="actions my-4">
      <%= f.submit "作成する", class:"submit-btn" %>
    </div>
  </div>
<% end %>

<div class="mt-4 mb-8">
  <%= render "users/shared/links" %>
</div>